.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 22.5px;
}

.iconWrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #fcfeff;
  cursor: pointer;
  transition: 0.3s;
}

.iconWrapper:hover {
  border-color: #d84343;
}

.icon {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 16px 40px;
  width: 112px;
  height: 96px;
}

.pagesContainer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 4px;
  margin: 0 22px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.3s;
}

.page.currentPage,
.page:hover {
  font-weight: bold;
  color: #d84343;
  background-color: #fff;
}
